NODE_ENV=development
PORT=3000
CORS_ORIGIN=*

DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=supersecretpassword
DB_NAME=saas_clinica_db

JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=8h

PRINTER_MODE=disabled
PRINTER_OUTPUT_DIR=prints
PRINTER_HOST=127.0.0.1
PRINTER_PORT=9100

UPLOADS_DIR=uploads
NOTIFICATIONS_MODE=file
NOTIFICATIONS_OUTPUT_DIR=outbox
